
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    line-height: 1.6;
}

header {
    background-color:#007bff;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    font-size: 36px;
    margin: 0;
}

.contact-us {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-us h2 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.contact-us p {
    text-align: center;
    font-size: 16px;
    color: #555;
}

h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
}

.name-container, .city-container {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin-top: 8px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 120px;
}

button[type="submit"] {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #007bff;
}

button[type="submit"]:focus {
    outline: none;
}

.error {
    visibility: hidden;
    color: red;
    font-size: 14px;
    margin-top: 6px;
}

input.invalid, select.invalid, textarea.invalid {
    border-color: red;
    background-color: #fdd;
}

input.valid, select.valid, textarea.valid {
    border-color: green;
    background-color: #e6ffed;
}


@media (max-width: 768px) {
    .contact-us {
        padding: 15px;
    }

    header .logo h1 {
        font-size: 28px;
    }
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

footer p {
    font-size: 16px;
}
